<!DOCTYPE html>
<html lang="en">
<!-- Head starts -->
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--TITLE-->
    <title>Modern Business - Start Bootstrap Template</title>
    <!-- Include Bootstrap Multiselect CSS-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/modern-business.css" rel="stylesheet">
    <link href="assets/css/Footer-with-button-logo.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Include Bootstrap Multiselect CSS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="bootstrap-dropselect.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
</head>
<!-- Head ends -->

<!-- Body starts -->
<body ng-app="instantSearch" ng-controller="InstantSearchController">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">LVIV_VOLONTEERS</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="about.html">Організації</a>
                    </li>
                    <li>
                        <a href="about.html">Події</a>
                    </li>
                    
                    <li>
                        <a href="search.html"><span class="glyphicon glyphicon-search"></span>  Пошук</a>
                    </li>
                    
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Змінити мову <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="blog-home-1.html">Українська</a>
                            </li>
                            <li>
                                <a href="blog-home-2.html">English</a>
                            </li>
                            <li>
                                <a href="blog-post.html">Blog Post</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="enter.html"><span class="glyphicon glyphicon-user"></span> Увійти</a>
                    </li>
                    <li>
                        <a href="user-reg.html">Зареєструватись</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>


        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide One');"></div>
                <div class="carousel-caption">
                    <h2>Caption 1</h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Two');"></div>
                <div class="carousel-caption">
                    <h2>Caption 2</h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Three');"></div>
                <div class="carousel-caption">
                    <h2>Caption 3</h2>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>

    <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Робити добро - просто і легко
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="glyphicon glyphicon-home"></i> Додати організацію</h4>
                    </div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                        <a href="organization-reg.html" class="btn btn-default">Долучитися</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="glyphicon glyphicon-user"></i> Зареєструватися</h4>
                    </div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                        <a href="user-reg.html" class="btn btn-default">Долучитися</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="glyphicon glyphicon-volume-up"></i> Створити Подію</h4>
                    </div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                        <a href="#" class="btn btn-default">Долучитися</a>
                    </div>
                </div>
            </div>
        </div>



<div class="row">
    <!-- <hr> -->
    <div class="col-sm-12 pull-center well">
    <hr>
          <form class="form-inline" action="#" method="POST">
              <center>  
                  <label >
                    <ol class="breadcrumb">
                    <li><h3><span class="glyphicon glyphicon-search"></span>  Швидкий пошук </h3>
                    </li>
                    <!-- <li class="active">введіть назву організації:</li> -->
                </ol>

                 <!--  <h1 class="active">Швидкий пошук<small>Введіть назву організації:</small></h1> -->
                  </label>
                     <!--  <select class="form-control">
                            <option>Список сфер</option>
                            <option>Список сфер</option>
                      </select>
                      <select class="form-control">
                            <option>Вибір локації</option>
                            <option>jgfhfhfh</option>
                      </select> -->
                                     
                     <!--  <input class="form-control" type="date" value="Дата" id="example-date-input"> -->
                      <input class="form-control" type="text" ng-model="searchString" placeholder="Введіть назву організації"/>
                      </form>

                      <hr>
        <!-- </div> -->
          
          <!-- </div> -->
        
                     
            
<!--   <div class="row">
      <div class="col-lg-7">
                  <div ng-repeat="i in items | searchFor:searchString">
                        <h1 class="page-header">{{i.title}}<a href="{{i.url}}"><img class="img-responsive img-hover" ng-src="{{i.image}}" /></a>
                  </h1>
                  </div>
                  </div>
            </div>        
      </div>
          
  </body>            
           --> 
           <div class="row">
  <center>
        <div ng-repeat="i in items | searchFor:searchString">
            <div class="col-md-3">
                <a href="{{i.url}}">
                <img class="img-responsive img-hover" alt="Chania" ng-src="{{i.image}}" ></a>
                </div>
                <div class="col-md-9">
                      <a href="{{i.url}}">
                        <h3>{{i.title}}</h3></a>
                        <p>{{i.description}}</p>
                  
                  </div>
                  </div>
            </div>        
      </div>
      </div>
    </body>            
          
      <hr>
        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <p>Якщо  у вас виникли питання або побажання щодо роботи сайту.ВАПРОЛДВВАПРОапролапфірвиіриаліоаліво варпилвоплв вролпвркоплв рлав</p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block" href="#">Написати</a>
                </div>
            </div>
        </div>
        <!-- Have broblems ends -->

        <!-- <hr> -->

</div>

    

    <!-- /.container -->
       <footer id="myFooter">
        <div class="container">
            <div class="row">
                
                <div class="col-sm-6">
                    <!-- <h5>Наша команда    </h5> -->
                   <!--  <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Sign up</a></li>
                        <li><a href="#">Downloads</a></li>
                    </ul>
 -->                </div>

                <div class="col-sm-1">
                    <h5>Команда</h5>
                   <!--  <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Sign up</a></li>
                        <li><a href="#">Downloads</a></li>
                    </ul>
 -->                </div>

                <div class="col-sm-1">
                    <h5>Про нас</h5>
                    <!-- <ul>
                        <li><a href="#">Company Information</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Reviews</a></li>
                    </ul> -->
                </div>
                <div class="col-sm-1">
                    <h5>Допомогти</h5>
                    <!-- <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Help desk</a></li>
                        <li><a href="#">Forums</a></li>
                    </ul> -->
                </div>
                <div class="col-sm-3">
                    <div class="social-networks">
                        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
                    </div>
                    <!-- <button type="button" class="btn btn-default">Contact us</button> -->
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2016 Copyright Text </p>
        </div>
    </footer>
    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script type="text/javascript">

    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

    <script>
      $(document).ready(function () {
        var mySelect = $('#first-disabled2');

        $('#special').on('click', function () {
          mySelect.find('option:selected').prop('disabled', true);
          mySelect.selectpicker('refresh');
        });

        $('#special2').on('click', function () {
          mySelect.find('option:disabled').prop('disabled', false);
          mySelect.selectpicker('refresh');
        });

        $('#basic2').selectpicker({
          liveSearch: true,
          maxOptions: 1
        });
      });
    </script>
    // Define a new module for our app
var app = angular.module("instantSearch", []);
<!--  -->
<!--  -->
<!--  -->
// Create the instant search filter
<script type="text/javascript">
  // Define a new module for our app
var app = angular.module("instantSearch", []);

// Create the instant search filter

app.filter('searchFor', function(){

  // All filters must return a function. The first parameter
  // is the data that is to be filtered, and the second is an
  // argument that may be passed with a colon (searchFor:searchString)

  return function(arr, searchString){

    if(!searchString){
      return arr;
    }

    var result = [];

    searchString = searchString.toLowerCase();

    // Using the forEach helper method to loop through the array
    angular.forEach(arr, function(item){

      if(item.title.toLowerCase().indexOf(searchString) !== -1){
        result.push(item);
      }

    });

    return result;
  };

});

// The controller

function InstantSearchController($scope){

  // The data model. These items would normally be requested via AJAX,
  // but are hardcoded here for simplicity. See the next example for
  // tips on using AJAX.

  $scope.items = [
    {
      url: 'http://vidlunnia.ucu.edu.ua/',
      title: 'Відлуння',
      image: src="http://placehold.it/100x100",
     description:'1999 рік. Саме цього року розпочала свою діяльність студентська благодійна організація «Відлуння» Українського католицького університету на чолі з Тетяною Лисейко...'
    },
    {
      url: 'http://tutorialzine.com/2013/08/simple-registration-system-php-mysql/',
      title: 'Український Католицький Університет',
      image: 'http://cdn.tutorialzine.com/wp-content/uploads/2013/08/simple_registration_system-100x100.jpg',
      description:'1999 рік. Саме цього року розпочала свою діяльність студентська благодійна організація «Відлуння» Українського католицького університету на чолі з Тетяною Лисейко...'
    },
    {
      url: 'http://tutorialzine.com/2013/08/slideout-footer-css/',
      title: 'Львівська Освітня Фундація',
      image: 'http://cdn.tutorialzine.com/wp-content/uploads/2013/08/slide-out-footer-100x100.jpg',
      description:'1999 рік. Саме цього року розпочала свою діяльність студентська благодійна організація «Відлуння» Українського католицького університету на чолі з Тетяною Лисейко...'
    },
    {
      url: 'http://tutorialzine.com/2013/06/digital-clock/',
      title: 'Студентська Рада',
      image: 'http://cdn.tutorialzine.com/wp-content/uploads/2013/06/digital_clock-100x100.jpg',
      description:'1999 рік. Саме цього року розпочала свою діяльність студентська благодійна організація «Відлуння» Українського католицького університету на чолі з Тетяною Лисейко...'
    },
    {
      url: 'http://tutorialzine.com/2013/05/diagonal-fade-gallery/',
      title: 'Обласна Лікарня Міста Львова',
      image: 'http://cdn.tutorialzine.com/wp-content/uploads/2013/05/featured-100x100.jpg',
      description:'1999 рік. Саме цього року розпочала свою діяльність студентська благодійна організація «Відлуння» Українського католицького університету на чолі з Тетяною Лисейко...'
    },
    {
      url: 'http://tutorialzine.com/2013/05/mini-ajax-file-upload-form/',
      title: 'Інтернат №2',
      image: 'http://cdn.tutorialzine.com/wp-content/uploads/2013/05/ajax-file-upload-form-100x100.jpg',
      description:'1999 рік. Саме цього року розпочала свою діяльність студентська благодійна організація «Відлуння» Українського католицького університету на чолі з Тетяною Лисейко...'
    },
    {
      url: 'http://tutorialzine.com/2013/04/services-chooser-backbone-js/',
      title: 'Computer Science in UCU',
      image: 'http://cdn.tutorialzine.com/wp-content/uploads/2013/04/service_chooser_form-100x100.jpg',
      description:'1999 рік. Саме цього року розпочала свою діяльність студентська благодійна організація «Відлуння» Українського католицького університету на чолі з Тетяною Лисейко...'
    }
  ];


}

</script>

</html>
