<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Modern Business - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/modern-business.css" rel="stylesheet">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script src="js/jquery.js"></script>

    <script src="js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
    $( function() {
      var availableTags = [
        "Івано-Франківськ",
        "Київ",
        "Львів",
        "Нововолинськ",
        "Полтава",
        "Стрий",
        "Тернопіль",
        "Ужгород",
        "Червоноград",
        "Чернівці"
      ];
      $( ".ui-widget #tags" ).autocomplete({
        source: availableTags
      });
    } );
    </script>

</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">VOLONTER</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="about.html">About</a>
                    </li>
                    <li>
                        <a href="services.html">Services</a>
                    </li>
                    <li>
                        <a href="contact.html">Contact</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="portfolio-1-col.html">1 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="portfolio-2-col.html">2 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="portfolio-3-col.html">3 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="portfolio-4-col.html">4 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="portfolio-item.html">Single Portfolio Item</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="active">
                                <a href="blog-home-1.html">Blog Home 1</a>
                            </li>
                            <li>
                                <a href="blog-home-2.html">Blog Home 2</a>
                            </li>
                            <li>
                                <a href="blog-post.html">Blog Post</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other Pages <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="full-width.html">Full Width Page</a>
                            </li>
                            <li>
                                <a href="sidebar.html">Sidebar Page</a>
                            </li>
                            <li>
                                <a href="faq.html">FAQ</a>
                            </li>
                            <li>
                                <a href="404.html">404</a>
                            </li>
                            <li>
                                <a href="pricing.html">Pricing Table</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Реєстрація події
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="col-10">
                    <!-- FORM STARTS - THIS IS FOR ANGULAR -->
                    <form ng-app="myApp" ng-controller="validateCtrl" name="myForm" novalidate>

                    <div class="form-group">
                        <label for="example-text-input" class="col-2 col-form-label">Назва події</label>
                            <input class="form-control" type="text" id="example-text-input" placeholder="Введіть назву події" name="user" ng-model="user" required></input>
                            <span style="color:red" ng-show="myForm.user.$dirty && myForm.user.$invalid">
                            <span ng-show="myForm.user.$error.required">Це обов'язкове поле для вводу!</span>
                    </div>

                    
                    <div class="form-group">
                        <label for="example-email-input" class="col-2 col-form-label">Пошта адміністратора події</label>
                        <input class="form-control" type="email" placeholder="myexample@example.com" id="example-email-input" name="email" ng-model="email" required></input>
                        <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
                        <span ng-show="myForm.email.$error.required">Це обов'язкове поле для вводу!</span>
                    </div>

                    <div class="form-group">
                        <label for="exampleSelect1">Виберіть тип події</label>
                        
                        <select class="form-control" id="exampleSelect1" placeholder="ccc">
                          <option>Разове волонтерство</option>
                          <option>Щотижневе</option>
                          <option>Волонтерство online</option>
                          <option>Необмежене в часі</option>
                          <option>Інше</option>
                        </select>
                      </div>


                


                   <div class="form-group">
                    <label for="exampleSelect1">Виберіть локацію</label>
                    <div class="ui-widget">
                      <input id="tags" class="form-control">
                    </div>
                  </div>

                  <div class="form-group">
                        <label for="example-email-input" class="col-2 col-form-label">Вулиця і номер будинку</label>
                        <input class="form-control" type="email" placeholder="Введіть вулицю і номер будинку" id="example-email-input" name="email" ng-model="email" required></input>
                        <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
                        <span ng-show="myForm.email.$error.required">Це обов'язкове поле для вводу!</span>
                    </div>

                    <div class="form-group">
                        <label for="example-email-input" class="col-2 col-form-label">Максимальна кількість учасників події</label>
                        <input class="form-control" type="email" placeholder="Введіть максимальну кількість учасників події" id="example-email-input" name="email" ng-model="email"></input>
                    </div>

                    <div class="form-group">
                        <label for="example-email-input" class="col-2 col-form-label">Додаткові вимоги до учасників події</label>
                        <input class="form-control" type="email" placeholder="Введіть додаткові умови учасників події(не обов'язково)" id="example-email-input" name="email" ng-model="email"></input>
                      
                    </div>




                   <div class="form-group">
                      <label for="comment">Опис події</label>
                      <textarea class="form-control" rows="5" id="comment"></textarea>
                    </div>

                 




<button type="button" class="btn btn-success">Зареєструватись</button>



 <hr>
  <label for="example-password-input" class="col-2 col-form-label">Ця опція можлива тільки для зареєстрованих організацій <a href="organization-reg.html" onClick="$('#loginbox').hide(); $('#signupbox').show()">Зареєструвати організацію</a></label>
  <hr>  

            <!-- FROM  ENDS -->
            </form>
        
            </div>
            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Blog Search Well -->
                <div class="well">
                    <h4>Пошук по сайту</h4>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                    <!-- /.input-group -->
                </div>

                <!-- Blog Categories Well -->


                <!-- Side Widget Well -->
                <div class="well">
                    <h4>Side Widgetw Well</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
                </div>
                 <div class="well">
                    <h4>Side Widget Well</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
                </div>
                 <div class="well">
                    <h4>Side Widget Well</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
                </div>


            </div>

        </div>
        <!-- /.row -->

        <!-- <hr> -->

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <!--script src="js/jquery.js"></script-->

    <!-- anjular script -->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
        <script>
    var app = angular.module('myApp', []);
        app.controller('validateCtrl', function($scope) {
        // $scope.user = "Введіть ім'я";
        // $scope.email = 'john.doe@gmail.com';
    });
    </script>
    <!-- anjular script ends -->
    <!-- Bootstrap Core JavaScript -->
    <!--script src="js/bootstrap.min.js"></script-->

</body>

</html>
