<!DOCTYPE html>
<html lang="en">
<!-- Head starts -->
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--TITLE-->
    <title>Modern Business - Start Bootstrap Template</title>
    <!-- Include Bootstrap Multiselect CSS-->
    <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="css/modern-business.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Include Bootstrap Multiselect CSS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="bootstrap-dropselect.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script type="text/javascript" src="js/bootstrap-filestyle.min.js"> </script>
    <link href="css/custom.css" rel="stylesheet">
</head>
<!-- Head ends -->

<!-- Body starts -->
<body ng-app="instantSearch" ng-controller="InstantSearchController" id="body-colour">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="header">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">LVIV_VOLUNTEERS</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
              
                    
                    <li>
                        <a href="new-search.html"><span class="glyphicon glyphicon-search"></span>  Пошук</a>
                    </li>
                    
                    
                    
                    <li>
                        <a href="enter.html"><span class="glyphicon glyphicon-user"></span> Увійти</a>
                    </li>
                    <li class="active">
                        <a href="main-reg.html">Зареєструватись</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
         <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Робити добро - просто і легко
                </h1>
            </div>
            <!-- <div class="col-lg-9"> -->
      
    



        </div>


<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#home">  РЕЄСТРАЦІЯ КОРИСТУВАЧА  </a></li>
  <li><a data-toggle="tab" href="#menu1">  РЕЄСТРАЦІЯ ОРГАНІЗАЦІЇ  </a></li>
  <li><a data-toggle="tab" href="#menu2">  СТВОРИТИ ПОДІЮ</a></li>
</ul>

<div class="tab-content">
    <div id="home" class="tab-pane fade in active">
        <div class="container">
                  <div class="row">
                    <div class="col-lg-12">

                        <h1 class="page-header">Реєстрація користувача
                        </h1>

                    </div>
                </div>

              <div class="row">
                  <div class="col-md-8">
                      <div class="col-10">


                             <div class="form-group">
                                <label for="example-text-input" class="col-2 col-form-label">Ім'я</label>
                                    <input class="form-control" type="text" id="example-text-input" placeholder="Введіть ім'я" name="user"></input>
                             </div>  
                             <div class="form-group">
                                <label for="example-text-input" class="col-2 col-form-label">Прізвище</label>
                                <!-- <div class="col-10"> -->
                                    <input class="form-control" type="text" id="example-text-input" placeholder="Введіть приізвище" name="surname"></input>
                             </div>  
                             <div class="form-group">
                          <label for="example-search-input" class="col-2 col-form-label">Логін</label>
                              <input class="form-control" type="search" placeholder="Введіть логін" id="example-search-input" name="nickname" ng-model="nickname"></input>
                              
                            </div>
                          <div class="form-group">
                              <label for="example-email-input" class="col-2 col-form-label">Пошта</label>
                              <input class="form-control" type="email" placeholder="myexample@example.com" id="example-email-input" name="email"></input>
                          </div>
                          <div class="form-group">
                              <label for="example-password-input" class="col-2 col-form-label">Пароль</label>
                              <input class="form-control" type="password" placeholder="Введіть пароль" id="example-password-input" name="password" ></input>
                              
                          </div>

                          <div class="form-group">
                             <label for="example-password-input" class="col-2 col-form-label">Повторіть пароль</label>
                            <!-- <div class="col-10"> -->
                              <input class="form-control" type="password" placeholder="Введіть пароль" id="example-password-input" name="password_2" ng-model="password_2"></input>
                              
                          </div>

                          <div class="form-group">
                          <label for="exampleSelect1">Виберіть місто</label>
                          <div class="ui-widget">
                            <input id="tags" class="form-control">
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="checkbox">
                             <label>
                             <input id="login-remember" type="checkbox" name="remember" value="1"> Запам'ятати мене
                             </label>
                            </div>
                        </div>





                            <div class="form-group">
                            <button type="button" class="btn btn-success">Зареєструватись</button>
                            
                            <!-- <button type="button" class="btn btn-warning">Увійти з Linkedin</button> -->
                           <!--  <button type="button" class="btn btn-danger">Увійти з Google+</button> -->
                              </div>

                           <hr>
                            <label for="example-password-input" class="col-2 col-form-label">Якщо Ви вже маєте аккаунт <a href="#" onClick="$('#loginbox').hide(); $('#signupbox').show()">Увійти тут</a></label>
                  </div>   
              </div>
        </div>
    </div>
</div>
  <div id="menu1" class="tab-pane fade">
 <!--    <h3>Menu 1</h3>
    <p>Some content in menu 1.</p> -->

   <div class="container">

              <div class="row">
                  <div class="col-lg-12">
                      <h1 class="page-header">Реєстрація організації
                          <!-- <small>Subheading</small> -->
                      </h1>

                        <div class="alert alert-danger">
                        <label for="example-password-input" class="col-2 col-form-label">Увага! Можливість реєстрації організацій надається тільки зареєстрованим користувачам.<a href="user-reg.html" onClick="$('#loginbox').hide(); $('#signupbox').show()"> Натисніть щоб перейти до реєстрації користувача.</a></label>  

                         </div>

                      <hr>
                  </div>
              </div>
        <!-- /.row -->

          <div class="row">



              <div class="col-md-8">


                  <div class="col-10">






            


                

                        <div class="form-group">
                            <label for="example-text-input" class="col-2 col-form-label">Назва організації</label>
                                <input class="form-control" type="text" placeholder="Введіть назву організації" id="example-text-input" name="orgreg" ng-model="orgreg" ></input>
                        </div>


                          <div class="form-group">
                            <label for="example-search-input" class="col-2 col-form-label">Вебсайт</label>
                              <input class="form-control" type="search" placeholder="www.example.com" id="example-search-input" name="website" ng-model="website" ></input>
                            </div>

                           

                               <div class="form-group">
                                <label for="exampleSelect1">Виберіть тип оргіназації</label>
                                
                                <select class="form-control" id="exampleSelect1" placeholder="ccc">
                                  <option>Nonprofit or community organization</option>
                                  <option>Govermanet agency</option>
                                  <option>Social enterprise</option>
                                  <option>Recruitment firm</option>
                                  <option>Consultant/vendor to nonprofits</option>
                                  <option>Self initiative</option>
                                </select>
                              </div>

                          <p class="text-muted">Контакти:</p>
                          <div class="form-group">
                            <label for="example-email-input" class="col-2 col-form-label">Пошта організації</label>
                              <input class="form-control" type="email" placeholder="myexample@example.com" id="example-email-input" name="email" ng-model="email"></input>

                              <p type="submit"
                              ng-disabled="myForm.user.$dirty && myForm.user.$invalid ||  
                              myForm.email.$dirty && myForm.email.$invalid">
                              </p>
                                </div>
                              <div class="form-group">
                            <label for="example-search-input" class="col-2 col-form-label">Номер телефону підриємства</label>
                              <input class="form-control" type="search" placeholder="Введіть номер" id="example-search-input" name="num" ng-model="num"></input>
                           </div>


                                <div class="form-group">
                            <div class="row">
                             <div class="col-xs-4">
                             <label for="comment">Виберіть місто</label>
                             <select class="form-control" id="exampleSelect1">
                                  <option>Київ</option>
                                  <option>Львів</option>
                                  <option>Одеса</option>
                                  <option>Харків</option>
                                  <option>Дніпро</option>
                                </select>
                                     </div>
                                     <div class="col-xs-8">
                                     <label for="comment">Адреса організації</label><input class="form-control" type="search" placeholder="Введіть адресу" id="example-search-input" name="num" ng-model="num"></input>
                                     </div>
                                     </div>
                                     </div>
                              <div class="form-group">
                              <label for="comment">Опис організації</label>
                              <textarea class="form-control" rows="5" id="comment"></textarea>
                            </div>

                           







                            



                            
                            <button type="button" class="btn btn-success">Зареєструватись</button>
                  </div>
                  </div>
                  </div>

            </div>
  </div>
  <div id="menu2" class="tab-pane fade">
    <div class="container">
          <div class="row">
            
            <div class="col-lg-12">
                <h1 class="page-header">Створити подію
                </h1>
            </div>
        </div>

        <div class="row">
         <div class="alert alert-danger">
                        <label for="example-password-input" class="col-2 col-form-label">Увага! Можливість реєстрації подій надається тільки зареєстрованим організаціям і користувачам.<a href="user-reg.html" onClick="$('#loginbox').hide(); $('#signupbox').show()"> Натисніть щоб перейти до реєстрації організацій.</a></label>  

                         </div>
                         <hr>
                <div class="col-md-8">

                    <!-- FORM STARTS - THIS IS FOR ANGULAR -->
                   <div class="col-10">

                    <div class="form-group">
                        <label for="example-text-input" class="col-2 col-form-label">Назва події</label>
                            <input class="form-control" type="text" id="example-text-input" placeholder="Введіть назву події" name="user" ng-model="user"></input>    
                    </div>

                    
                  

                    <div class="form-group">
                    <div class="row">
                    <div class="col-xs-6">
                        <label for="exampleSelect1">Виберіть тип події</label>
                        
                        <select class="form-control" id="exampleSelect1" placeholder="ccc">
                          <option>Разове волонтерство</option>
                          <option>Щотижневе</option>
                          <option>Волонтерство online</option>
                          <option>Необмежене в часі</option>
                          <option>Інше</option>
                        </select>
                      </div>
                      <div class="col-xs-6">
                      </div>
                      </div>
                      </div>
<!-- <div class="container"> -->
    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker5'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker5').datetimepicker({
                    defaultDate: "11/1/2013",
                    disabledDates: [
                        moment("12/25/2013"),
                        new Date(2013, 11 - 1, 21),
                        "11/22/2013 00:53"
                    ]
                });
            });
        </script>
    </div>
<!-- </div> -->
                   


                    



                     <p class="text-muted">Контакти:</p>
                    
                        <div class="form-group">
                        <label for="example-email-input" class="col-2 col-form-label">Пошта адміністратора події</label>
                        <input class="form-control" type="email" placeholder="myexample@example.com" id="example-email-input" name="email" ng-model="email"></input>
                      
                    </div>
                                <div class="form-group">
                            <div class="row">
                             <div class="col-xs-4">
                             <label for="comment">Виберіть місто</label>
                             <select class="form-control" id="exampleSelect1">
                                  <option>Київ</option>
                                  <option>Львів</option>
                                  <option>Одеса</option>
                                  <option>Харків</option>
                                  <option>Дніпро</option>
                                </select>
                                     </div>
                                     <div class="col-xs-8">
                                     <label for="comment">Адреса організації</label><input class="form-control" type="search" placeholder="Введіть адресу" id="example-search-input" name="num" ng-model="num"></input>
                                     </div>
                                     </div>
                                     </div>
                      <div class="form-group">
                            <label for="example-search-input" class="col-2 col-form-label">Номер телефону підриємства</label>
                              <input class="form-control" type="search" placeholder="Введіть номер" id="example-search-input" name="num" ng-model="num"></input>
                           </div>




                   <div class="form-group">
                      <label for="comment">Опис події</label>
                      <textarea class="form-control" rows="5" id="comment"></textarea>
                    </div>

                 




<button type="button" class="btn btn-success">Зареєструватись</button>


 

           
   
 </div>
 </div>
  </div>
</div> 
</div>
</div>
    <!-- /.container -->

    <!-- jQuery -->
    <!--script src="js/jquery.js"></script-->
<footer>
    <div class="container text-center">
    <hr />
  <div class="row">
    <div class="col-lg-12">
      <div class="col-xs-3">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="#">Про нас</a></li>
        </ul>
      </div>
      <div class="col-xs-3">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="#">Наша команда</a></li>
        </ul>
      </div>
      <div class="col-xs-3">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="#">Допомогти</a></li>
        </ul>
      </div>
      <div class="col-xs-3">
        <!-- <ul> -->
          <!-- <div class="col-sm-3"> -->
                    <!-- <div class="col-md-12"> -->
                    <ul class="social-network social-circle">
                        <a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a>
                        <a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a>
                      </ul> 
        <!-- </div> -->
      </div>  
    </div>
  </div>
  <hr>
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-pills nav-justified">
                <!-- <conter> -->
                <li><a href="/">© 2017 Lviv_Volunteers.</a></li>
            </ul>
        </div>
    </div>
</div>
    
    </footer>
    <!-- anjular script -->

 
    <!-- anjular script ends -->
    <!-- Bootstrap Core JavaScript -->
    <!--script src="js/bootstrap.min.js"></script-->

</body>

</html>
