<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Modern Business - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">VOLONTER</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="about.html">About</a>
                    </li>
                    <li>
                        <a href="services.html">Services</a>
                    </li>
                    <li>
                        <a href="contact.html">Contact</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="portfolio-1-col.html">1 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="portfolio-2-col.html">2 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="portfolio-3-col.html">3 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="portfolio-4-col.html">4 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="portfolio-item.html">Single Portfolio Item</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="active">
                                <a href="blog-home-1.html">Blog Home 1</a>
                            </li>
                            <li>
                                <a href="blog-home-2.html">Blog Home 2</a>
                            </li>
                            <li>
                                <a href="blog-post.html">Blog Post</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other Pages <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="full-width.html">Full Width Page</a>
                            </li>
                            <li>
                                <a href="sidebar.html">Sidebar Page</a>
                            </li>
                            <li>
                                <a href="faq.html">FAQ</a>
                            </li>
                            <li>
                                <a href="404.html">404</a>
                            </li>
                            <li>
                                <a href="pricing.html">Pricing Table</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Реєстрація користувача
                </h1>
            </div>
        </div>
       
        <div class="row">
            <div class="col-md-8">
                <div class="col-10">
                    <!-- FORM STARTS - THIS IS FOR ANGULAR -->
                    <form ng-app="myApp" ng-controller="validateCtrl" name="myForm" novalidate>

                    <div class="form-group">
                        <label for="example-text-input" class="col-2 col-form-label">Ім'я</label>
                            <input class="form-control" type="text" id="example-text-input" placeholder="Введіть ім'я" name="user" ng-model="user" required></input>
                            <span style="color:red" ng-show="myForm.user.$dirty && myForm.user.$invalid">
                            <span ng-show="myForm.user.$error.required">Це обов'язкове поле для вводу!</span>
                    </div>

                    <div class="form-group">
                    <label for="example-text-input" class="col-2 col-form-label">Прізвище</label>
                        <!-- <div class="col-10"> -->
                            <input class="form-control" type="text" id="example-text-input" placeholder="Введіть приізвище" name="surname" ng-model="surname" required></input>
                            <span style="color:red" ng-show="myForm.surname.$dirty && myForm.surname.$invalid">
                            <span ng-show="myForm.surname.$error.required">Це обов'язкове поле для вводу!</span>
                    </div>

                    <div class="form-group">
                        <label for="example-search-input" class="col-2 col-form-label">Нікнейм</label>
                        <input class="form-control" type="search" placeholder="Введіть нікнейм" id="example-search-input" name="nickname" ng-model="nickname" required></input>
                        <span style="color:red" ng-show="myForm.nickname.$dirty && myForm.nickname.$invalid">
                        <span ng-show="myForm.nickname.$error.required">Це обов'язкове поле для вводу!</span>
                    </div>

                    <div class="form-group">
                        <label for="example-email-input" class="col-2 col-form-label">Пошта</label>
                        <input class="form-control" type="email" placeholder="myexample@example.com" id="example-email-input" name="email" ng-model="email" required></input>
                        <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
                        <span ng-show="myForm.email.$error.required">Це обов'язкове поле для вводу!</span>
                    </div>

                    <div class="form-group">
                        <label for="example-password-input" class="col-2 col-form-label">Пароль</label>
                        <input class="form-control" type="password" placeholder="Введіть пароль" id="example-password-input" name="password" ng-model="password" required></input>
                        <span style="color:red" ng-show="myForm.password.$dirty && myForm.password.$invalid">
                        <span ng-show="myForm.password.$error.required">Це обов'язкове поле для вводу!</span>
                    </div>

                    <div class="form-group">
                       <label for="example-password-input" class="col-2 col-form-label">Повторіть ароль</label>
                      <!-- <div class="col-10"> -->
                        <input class="form-control" type="password" placeholder="Введіть пароль" id="example-password-input" name="password_2" ng-model="password_2" required></input>
                        <span style="color:red" ng-show="myForm.password_2.$dirty && myForm.password_2.$invalid">
                        <span ng-show="myForm.password_2.$error.required">Це обов'язкове поле для вводу!</span>
                    <!-- FORM ENDS -->
                    </form>       
                    </div>
                    

                   <div class="form-group">
                    <label for="exampleSelect1">Виберіть місцеположення</label>
                    <select class="form-control" id="exampleSelect1">
                      <option>Київ</option>
                      <option>Львів</option>
                      <option>Одеса</option>
                      <option>Харків</option>
                      <option>Дніпро</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <div class="checkbox">
                       <label>
                       <input id="login-remember" type="checkbox" name="remember" value="1"> Запам'ятати мене
                       </label>
                      </div>
                    </div>


<button type="button" class="btn btn-success">Зареєструватись</button>
 <button type="button" class="btn btn-primary">Увійти з Facebook</button>
 <button type="button" class="btn btn-warning">Увійти з Linkedin</button>

<!-- Indicates a dangerous or potentially negative action -->
<button type="button" class="btn btn-danger">Увійти з Google+</button>


 <hr>
  <label for="example-password-input" class="col-2 col-form-label">Якщо Ви вже маєте аккаунт <a href="#" onClick="$('#loginbox').hide(); $('#signupbox').show()">Увійти тут</a></label>              
  <hr>
            </div>
            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Blog Search Well -->
                <div class="well">
                    <h4>Пошук по сайту</h4>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                    <!-- /.input-group -->
                </div>

                <!-- Blog Categories Well -->
   

                <!-- Side Widget Well -->
                <div class="well">
                    <h4>Side Widget Well</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
                </div>
                 <div class="well">
                    <h4>Side Widget Well</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
                </div>
                 <div class="well">
                    <h4>Side Widget Well</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
                </div>
                

            </div>

        </div>
        <!-- /.row -->

        <!-- <hr> -->

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    
    <!-- anjular script -->
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script>
    var app = angular.module('myApp', []);
        app.controller('validateCtrl', function($scope) {
        // $scope.user = "Введіть ім'я";
        // $scope.email = 'john.doe@gmail.com';
    });
    </script>
    <!-- anjular script ends -->
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
